a[data-webtorrent] {
  display: inline-block;
  color: #000;
  text-decoration: none;
  font: 11pt sans-serif;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
  background-image: url(./assets/webtorrent-v3.1.svg),
                    linear-gradient(to left, #4CAF50 0%, #009e9e 100%),
                    linear-gradient(to top left, #00b7b7 0%, #009e9e 100%);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: 5px 50%, left 100%, 100%;
  background-size: 28px 28px, 0px 100%, 100%;
  padding-left: 3em;
}
/* Used for displaying status messages */
a[data-webtorrent]::after {
  display: block;
  clear: left;
  content: attr(title);
  font-weight: normal;
  text-align: center;
  font: 8pt sans-serif;
}
/* Used for fallback Bittorrent link */
a[data-webtorrent].no-webrtc a {
  display: block;
  clear: left;
  font-weight: normal;
  text-align: center;
  font: 8pt sans-serif;
  color: black;
  text-decoration: none;
  width: fit-content;
}
a[data-webtorrent].no-webrtc a:hover {
  text-decoration: underline;
}
